body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
}
.search-container {
    text-align: center;
    margin-bottom: 20px;
}
#searchCountry {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 60%;
    max-width: 300px;
}
.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}
.country-list-container {
    display: flex;
    justify-content: center;
}
.country-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 保证项之间均匀分布 */
    max-width: 1000px; /* 设置最大宽度 */
}
.country-item {
    flex: 1 1 calc(33.33% - 20px); /* 每行三个 */
    max-width: 300px; /* 最大宽度限制 */
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.country-list > .country-item:only-child {
    flex: 0 1 100%; /* 单个元素占 50% 的宽度 */
    max-width: none; /* 去掉最大宽度限制 */
    padding: 30px; /* 增加内边距 */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* 加强阴影效果 */
}
.country-item:hover {
    background-color: #f9f9f9;
}
.country-item h3 {
    font-size: 18px;
    margin: 0;
}
.logo {
    width:500px; /* 放大 logo 的宽度 */
    height: auto; /* 高度自动调整 */
    display: block; /* 使 logo 成为块级元素 */
    margin: 0 auto; /* 居中对齐 */
    margin-bottom: 20px; /* 与搜索栏之间的间距 */
}